.contador {
    background-color:  rgba(255, 171, 0, 0.31);
    display: flex;
    margin-left: auto;
    margin-top: 40px;
    width: 500px;
    max-width: 400px;
    padding: 20px;
    border-radius: 19px;
    border: 2px solid #FFAB00;



    &__content {
        text-align: center;
        font-weight: bold;
        color: #fff;
        
        p {
            &:last-child {
                font-size: 18px;
                margin-top: 5px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            span {
                background-color: #fff;
                color: #FFAB00;
                padding: 5px;
                border-radius: 10px;
                margin-top: 5px;
            }
        }
    }
}