.hero {
    height: 100vh;
    background-image: url(../images/fundo--hero.jpg);
    background-size: cover;
    background-position: center;

    &__header {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    &__eclipse {
        display: flex;
        width: 150px;
        margin-left: auto;
        
        img {
            width: 150px;
            height: auto;
        }

    }
}