.hero {
    height: 101vh;
    background-image: url(../images/fundo--hero.jpg);
    background-size: cover;
    background-position: center;

    &__header {
        display: grid;
        grid-template-columns: 2fr 1fr;
        overflow-x: hidden;
    }

    &__eclipse {

        &__right {
            display: flex;
            margin-left: auto;

            img {
                height: 120px;
                width: 120px;
            }
        }

        &__left {
            margin-top: -90px;
            width: 0;
            height: 0;
            img {
                width: 180px;
                height: 185px;
            }
        }

    }

    &__content {
        margin-top: 100px;
        max-width: 55%;

        &__title {
            margin-bottom: 10px;
            color: #FFAB00;
        }

        p {
            font-size: 32px;
            font-weight: 700;
            color: #fff;

            span {
                color: #FFAB00;
            }
        }

        &__links {
            margin-top: 50px;

            button {
                padding: 6px 15px;
                font-size: 18px;
                font-weight: bold;
                background-color: #FFAB00;
                color: #000;
                border: none;
                cursor: pointer;
                margin-right: 54px;
            }

            a {
                text-decoration: none;
                font-size: 18px;
                color: #fff;
                font-weight: bold;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    left: -5px;
                    bottom: -5px;
                    width: 165px;
                    height: 3px;
                    background-color: silver;
                }
            }
        }
    }

    &__image {
        max-width: 45%;

        img {
            max-width: 100%;
        }

        &__info {
            display: flex;
            color: #fff;
            margin-top: -50px;
            max-width: 100%;


            &__item {
                width: 50%;
                height: 100px;

                &:last-child {
                    margin-top: -180px;
                }

                p {
                    font-size: 13px;
                    margin-bottom: 10px;
                    padding: 10px 5px;
                    background-color: rgba(255, 255, 255, .15);
                    color: #fff;
                    border-radius: 15px;
                    border: 1px solid #fff;
                    display: inline-block;
                    width: auto;

                    &:last-child {
                        margin-left: 7px;
                    }
                }
            }
        }
    }

    @media (max-width:768px) {
        height: 105vh;
        
        &__eclipse {
            &__right {
                margin-left: -90px;
            }

            &__left {
                height: 100px;
                img {
                    height: 100px;
                    width: 100px;
                }
            }
        }

        &__content {
            display: block;
            margin-left: 12px;

            &__links {
                display: block;
                button {
                    font-size: 14px;
                }

                a {
                    font-size: 14px;
                    margin-top: 20px;
                    margin-left: 12px;

                    &::after {
                        content: "";
                        position: absolute;
                        left: -10px;
                        bottom: -5px;
                        width: 140px;
                    }
                }
            }
        }

        &__image {
            height: 500px;
            display: flex;
            align-items: center;

            img {
                height: 200px;
            }

            &__info {
                height: 200px;
                margin-left: -200px;
                margin-bottom: -550px;

                
                &__item {
                    margin-left: 10px;
                    &:first-child {
                        margin-top: -70px;
                    }

                    p {
                        font-size: 6px;
                        display: inline-block;
                        width: auto;
                    }
                }
            }
        }
    }

    @media (max-width: 1024px) {
        height: 180vh;
        &__header {
            display: flex;
            justify-content: space-between;
        }

        &__eclipse {
            &__right {
                margin-left: auto;
            }

            &__left {
                margin-bottom: -185px;
            }
        }

        &__content {
            &__links {
                display: flex;
                align-items: center;
                
                a {
                    margin-top: 0;
                }
            }
        }
    }
}