@use "hero";
@use "_components/time-hero";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    display: flex;
    margin: 0 auto;
}